{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Условия и положения | Авиабилеты</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
        <img src="{% static 'img/about-us.png' %}" alt="Политика конфиденциальности" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <h1>Мы управляем вашей поездкой, чтобы вы могли насладиться путешествием.</h1>
            <p>В 90-х годах покупка билета означала отправиться в аэропорт и стоять в длинных очередях, ожидая своей очереди. Затем появился интернет, и всё изменилось. Люди могли покупать билеты онлайн. Несмотря на непрерывные ограничения, путешествия стали более доступными, чем когда-либо. В 2018 году индийские путешественники совершили около 2 миллиардов поездок.</p>
            <p>Однако опыт путешествий остался практически неизменным - путешествия по-прежнему хаотичны и неопределенны. Люди все еще испытывают неприятности во время поездок.</p>
            <p>Мы обнаружили, что это в основном связано с асимметрией информации. Путешественники обычно должны приложить много усилий, чтобы найти информацию, касающуюся их поездки. Путешествия очень информационно насыщены, но информация находится у различных заинтересованных сторон и часто не доходит до путешественника вовремя, что приводит к разочарованию, гневу и неприятным ситуациям.</p>
            <p>Сегодня мы бронируем без четкого представления о том, каким будет наше путешествие - во сколько мы выйдем из дома, во сколько мы прибудем на место назначения и насколько комфортно мы проведем время в пути. В день поездки мы все еще беспокоимся, когда ищем такси, нервничаем, когда сталкиваемся с пробками, и бежим к посадочному терминалу, чтобы успеть.</p>
            <p>Мы почувствовали, что должен быть лучший способ. Итак, мы создали Blinctrip - вашего личного помощника по путешествиям, который внимательно следит за вашими впечатлениями от поездки и вовремя предоставляет вам нужную информацию. Это означает, что больше нет необходимости бежать.</p>
            <p>Наша цель - помочь вам каждый раз отлично провести время в путешествии. Мы идем к этому.</p>
        </div>
    </section>
{% endblock %}
