{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Политика конфиденциальности | Flight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
            <img src="{% static 'img/privacy-policy.png' %}" alt="Политика конфиденциальности" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <p>
                Flight Planners Limited (далее " <b>jetwheels</b> ") понимает беспокойства своих ценных клиентов по поводу конфиденциальности и принимает ряд мер для защиты и поддержания конфиденциальности их персональной информации, которую они делятся с нами.
            </p>
            <p>
                Применение этой Политики конфиденциальности распространяется на Пользователя, который запрашивает, или имеет намерение приобрести или приобретает продукт(ы) или услугу(и), предлагаемую flight-web-app.herokuapp.com. через любой из своих онлайн-каналов, включая свой веб-сайт, мобильный сайт, мобильное приложение и офлайн-каналы, включая колл-центры и офисы (далее вместе именуемые "Продажные каналы"). Для целей настоящей Политики конфиденциальности, Веб-сайт означает веб-сайты, мобильные сайты и мобильные приложения. Используя или получая доступ к Веб-сайту или другим Продажным каналам, Пользователь соглашается с условиями настоящей Политики конфиденциальности и содержанием здесь. Если вы не согласны с настоящей Политикой конфиденциальности, пожалуйста, не используйте и не получайте доступ к нашему Веб-сайту или другим Продажным каналам.
            </p>
            <p>
                Настоящая Политика конфиденциальности не применяется к любым веб-сайтам, мобильным сайтам и мобильным приложениям третьих лиц, даже если их веб-сайты/продукты связаны с нашим Веб-сайтом. Пользователь должен заметить, что информация и практики конфиденциальности бизнес-партнеров flight-web-app.herokuapp.com, рекламодателей, спонсоров или других сайтов, на которые flight-web-app.herokuapp.com предоставляет гиперссылки, могут значительно отличаться от настоящей Политики конфиденциальности. Следовательно, рекомендуется, чтобы Пользователь ознакомился с заявлениями о конфиденциальности и политиками любых таких третьих лиц, с которыми они взаимодействуют.
            </p>
        </div>
    </section>
{% endblock%}
