{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Условия использования | Flight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
            <img src="{% static 'img/terms-and-conditions.png' %}" alt="Условия использования" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <p>
                 Сайт JetWheels
            </p>
            <p>
                Flight может изменять, изменять или удалять любую часть приведенных ниже Условий использования без предварительного уведомления. Любые изменения в настоящих Условиях использования будут применяться с момента их публикации на сайте. Вы должны перепроверить ссылку "Условия и положения", чтобы быть полностью осведомленным обо всей ситуации.
            </p>
            <p>
                <b>1. Соглашение между клиентами и Flight:</b><br>
                При доступе, использовании, просмотре или бронировании через jetwheels.com пользователи должны принять, что они согласны с условиями и положениями нашего портала. В случае нарушения Flight Planners Ltd. и ее дочерние компании (включая flight-web-app.herokuapp.com) оставляют за собой все права на принятие любых юридических мер против них.
            </p>
            <p>
                <b>2. Цены на сайте:</b><br>
                Сбор за услуги, плата за отмену, плата за перенос бронирования включают НДС.<br>
                Цена, которую мы предлагаем на flight-web-app.herokuapp.com, обычно включает плату за проживание, налоги (если не указано иное) и в особых случаях некоторые приемы пищи (завтрак / обед / ужин). Это никогда не включает личные расходы или другие дополнительные расходы, такие как телефонные звонки, услуги личного характера, входные билеты в памятники и плата за бар и т. д.
            </p>
            <p>
                <b>3. Способы оплаты и политики:</b><br>
                Наша платежная система полностью безопасна, и клиенты могут осуществлять онлайн-платежи через безопасный процесс транзакции, который гарантирует, что их персональные коды безопасности не будут раскрыты в любых обстоятельствах.
            </p>
            <p>
                <b>4. Использование сайта</b><br>
                <b>При использовании этого сайта вы соглашаетесь, что:</b>
                <ul>
                    <li>У вас есть правовая полномочность создавать обязательное юридическое требование и заключать настоящие Условия использования.</li>
                    <li>Вы будете использовать этот сайт в соответствии с его Условиями использования.</li>
                    <li>Вы будете использовать сайт только для законного бронирования для себя или другого лица, для которого у вас есть официальное разрешение на такие виды бронирования. Вы также информируете других лиц о условиях использования сайта.</li>
                    <li>Вы предоставите точную информацию о каждом официальном документе и других важных данных, таких как имя и дата рождения, на сайт в случае планирования поездки с его помощью.</li>
                    <li>В случае ошибки или недочета в процессе предоставления информации вы будете нести единоличную ответственность за это.</li>
                    <li>Вся предоставленная вами информация на этот сайт должна быть точной, обновленной и полной,</li>
                    <li>Если у вас есть учетная запись на этом сайте, вы должны обеспечить ее безопасность своими данными для входа, включая идентификатор и пароль. Вы полностью несете ответственность за любое использование или неправомерное использование вашей учетной записи.</li>
                    <li>Flight оставляет за собой право отказать в доступе к своему веб-сайту любому лицу в любое время без предварительного уведомления и без объяснения причин, включая, но не ограничиваясь, нарушением его Условий использования.</li>
                </ul>
            </p>
        </div>
    </section>
{% endblock %}
