{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Home | Flight</title>
    <script type="text/javascript" src="{% static 'js/car/index.js' %}"></script>
{% endblock head %}

{% block body %}
    <section class="section first-section" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('{% static 'img/car1.jpg'%}');">
        <div class="banner-div">
            <div class="banner">
            <h1 class="banner-text">Забронируй Машину</h1>
            </div>
        </div>
        <div class="search-flight">
            <div class="container">
            <form class="search-flight-form" action="{% url 'cars_search' %}" onsubmit="return car_search()">
                <div class="align-items-center">
                    <div class="search-flight-form-data">
                        <div class="input-row" style="display: flex;">
                        </div>
                        <div class="input-row">
                            <label for="flight-from">Место получения: </label>
                            <input type="text" name="Origin" placeholder="From" id="flight-from" class="form-control mr-sm-3" onblur="hideplaces(this)" data-value="{{origin | lower}}" data-list="places_from" autocomplete="off" value="{{origin | upper}}">  <!--list="places_from"-->
                            <div id="places_from" class="places_box">
                                <div class="each_places_from_list places__list" data-value="ala" onclick="selectplace(this)">Almaty (Kazakhstan)</div>
                            </div>
                        </div>
                        <div class="input-row">
                            <label for="depart_date">Дата получения: </label>
                            <input type="date" name="DepartDate" min="{{min_date}}" max="{{max_date}}" id="depart_date" placeholder="Date" class="form-control mr-sm-2" value="{{depart_date}}">
                        </div>
                        <div class="input-row">
                            <label for="return_date">Дата возврата: </label>
                            <input type="date" name="ReturnDate" min="{{min_date}}" max="{{max_date}}" id="return_date" placeholder="Date" class="form-control mr-sm-2" value="{{return_date}}">
                        </div>

                        <div class="input-row">
                            <button type="submit" class="btn btn-success">Поиск машины</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </section>
    
{% endblock%}